*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font: 16px/1.2 sans-serif;
}
@media (min-width: 1024px) { 
  html {
    font: 12px/1.2 sans-serif;
  }
}
/* adjust form field elements */
input, textarea {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  padding: 1rem;
}
.nav {
  text-align: right;
}

.logout {
  margin-left: 1rem;
}

.danger-zone {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #ccc;
}
.danger-zone button {
  background-color: #ff0000;
  font-weight: bold;
  color: white;
  border: 0px solid red;
  border-radius: 3px;
  padding: .5rem;
}
.danger-zone button:hover {
  background: #992c25;
}
.danger-zone h3 {
  margin-top: 0;
  margin-bottom: .75rem;
}

.object-form {
  background: #eee;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 1024px) { 
  .object-form {
    width: 50%;
  }
}
.field-label,
.form-button {
  display: block;
  margin-top: .5rem;
  font-size: 1.3rem;
}
.field-label {
  line-height: 150%;
}
textarea {
  max-width: 100%;
}
.inline-block * {
  display: inline-block;
  margin-right: .75rem;
}

.field:first-child > .field-label,
label:first-child > .field-label {
  margin-top: 0;
}
.form-button {
  font-size: 1em;
  margin-top: .6rem;
  padding: .25rem .5rem;
}

.objects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 414px) { .objects { grid-template-columns: 1fr 1fr; } }
@media (min-width: 768px) { .objects { grid-template-columns: 1fr 1fr 1fr; } }
@media (min-width: 1024px) { .objects { grid-template-columns: 1fr 1fr 1fr 1fr; } }
@media (min-width: 1280px) { .objects { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }
@media (min-width: 1440px) { .objects { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } }
@media (min-width: 1920px) { .objects { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; } }

.object {
  color: #333;
  display: block;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  outline: 1px solid #ccc;
  text-decoration: none;
}

.object:hover, .object:active {
  color: black;
}

.object--text {
}

.object__tools {
  float: right;
  padding: .25rem;
  font-size: 1.5rem;
  /*
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  */
}
.object__tool {
  background: rgba(255, 255, 255, 0.85);
  padding: 0.35rem 0.35rem;
  border-radius: 3px;
  line-height: 1;
  color: #555;
  font-family: courier;
  margin-left: .25rem;
}

.object__handle {
  cursor: grab;
  user-select: none;
  z-index: 1;
}
.object__handle:active {
  cursor: grabbing;
}
